@charset "UTF-8";

body{
    min-width: 148px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

main{
    
        background-color: #0066ff;
        padding: 20px;
        max-width: 700px;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        transition: 0.5s;
        color: white;
        text-align: center;
    
}

    main:hover{
        border-radius: 0px 20px 0px 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.281);
    }

#foto_perfil2{
    background-image: linear-gradient( to top, #0066ff, #0C9EE8 );
    margin: auto;
    text-align: center;
    width: 250px;
    height: 250px;
    transition: 0.5s;
}

    #foto_perfil2:hover{
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
    }


#foto_perfil{
    margin: auto;
    margin-top: 22px;
    width: 200px;
    height: 200px;
    transition: 0.5s;
    }

    #foto_perfil:hover{
        margin-top: 0px;
        width: 250px;
        height: 250px;
    }

#nome_perfil{
    margin: auto;
    text-align: center;
}

#descrição_perfil{
    margin: auto;
    text-align: center;
}

#contatos_perfil{
    margin: auto;
    text-align: center;
}

    a{
    color: white;
    padding: 5px;
    transition: 0.5s;}

    a:hover{
        text-decoration: none;
        padding: 10px;
        background-color: aliceblue;
        color: #0C9EE8;
        border-radius: 0px 20px 0px 20px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.199);
    }